body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 2em 0;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    height: 600px; /* 固定高度 */
    margin: auto;
    overflow: hidden;
}

.mySlides {
    position: absolute;
    width: 500px;
    height: 300px; /* 固定高度 */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}
img {
    max-width: 500px;
    height: auto;
  }
  
.slide-image {
    width: 100%;
    height: 100%;
    max-height: 500;
    height: auto;
    object-fit: cover; /* 按比例缩放并填充整个容器 */
    transition: transform 0.3s ease;
}

.slide-image:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
